@media only screen and (max-width: 600px) {
    header h1 {
      font-size: 2rem;
    }
    header h2 {
        font-size: .90rem;
    }
    header nav {
      font-size: 1.20rem;
    }
    main {
        width: 350px;
    }
    main h3 {
        font-size: 1.50rem;
    }
    main h4 {
        font-size: 1.05rem;
    }
    main p, main ul li {
        font-size: 1rem;
    }
}