/* reset css */
* {
    all: unset;
}

/*basic tag configuration*/

html {
    /*
    - set standard font size for rem scaling
    - set default font
    > (https://developer.mozilla.org/en-US/docs/Web/CSS/font-size#rems)
    */
    height: 100%;
    font-size: 16px;
    font-family: Lexend;
    text-align: center;
}
head {
    display: none;
}
header {
    display: block;
}
body {
    position: absolute;
    z-index: 2;
    display: block;
    background-color: #f9fafb;
    color: black;
    width: 100%;
    height: 100%;
}
style {
    display: none;
}
a:link,
a:hover,
a:focus,
a:visited {
    color: #004CFF;
}
a:hover { 
    color: #00c; 
}